<!DOCTYPE html>
<html >

    <div id="form">
            
            <form method='post' action='contact/send'>
                
                <div class="form-group"></div>
                <label>Name</label>
                <input class="form-control" type="text" name='name', placeholder='Enter Name'/>
                
                <div class="form-group"></div>
                 <label>Email</label>
                  <input class="form-control" type="email" name='email', placeholder='Enter email'/>
                  
                  
                  <div class="form-group"></div>
                  <label>Message</label>
                   <input class="form-control"  name='message', placeholder='Enter message'/>
                
                   <p>
                   <button class="btn btn-default" type="submit">Submit</button>
                </p>
                
               
             </form>  
              
           </div>
  
</html>